.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.itemImage {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px 0px 0px 10px;
    background-color: aqua;
  }
  
  .itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 14px;
    height: auto;
    margin-left: 20px;
  }
  
  .infoText {
    margin-top: 5px;
    margin-bottom: -3px;
  }
  
  .itemRemove {
    margin-left:auto;
    margin-right: 20px;
  }