.item {
    border: 1px solid #dddddd;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.item:hover {
  border: 1px solid #1890ff;
  transform: scale(1.05);
  cursor: pointer;
}

.itemImage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.itemLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 15px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: auto;
  border-top: 1px solid #dddddd;
}

.infoText {
  margin-top: 7px;
  margin-bottom: -7px;
}
