.signUpPage {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signUpForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px #eeeeee;
  border-radius: 10px;
  min-width: 400px;
  width: 25%;
  padding: 40px;
  align-items: center;
}

.signUpInput {
  display: flex;
  flex-direction: column;
  align-content: left;
  margin: 20px;
  width: 100%;
}
